body {
    background-color: #f08181;
}

li {
    font-family: Arial, Helvetica, sans-serif;
}

div {
    background-color: antiquewhite;
    width: 300px;
    text-align: center;
}

h2, h3 {
    background-color: azure;
    width: fit-content;
    text-align: center;
}

p {
    background-color: aliceblue;
    width: fit-content;
    padding: 5px;
}